.FavContainer {
    margin-left: 50px;
    position: relative;
    background-color: black;
    background-image: url(https://images.assetsdelivery.com/compings_v2/cobalt/cobalt1809/cobalt180900053.jpg);
    background-repeat: no-repeat;
    background-size: 100% 20rem;
  }