.bookContainer {
  margin-left: 50px;
  position: relative;
  background-color: black;
  background-image: url(https://images.assetsdelivery.com/compings_v2/cobalt/cobalt1809/cobalt180900053.jpg);
  background-repeat: no-repeat;
  background-size: 100% 20rem;
}
.singleCard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  margin: 0 auto;
  max-width: 90%;
  padding: 1.8rem 1.7rem;
  grid-gap: 1.9rem;
  align-items: stretch;
}
.banner {
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: 100% 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.vewMoreBtn {
  cursor: pointer;
  background-color: #d533af;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 #701345;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  transition: all 0.3s ease-in-out;
}

/* search bar */

.search-container {
  float: none;
  display: block;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 14px;
}

.searchBar {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

.loadMore {
  display: flex;
  justify-content: center;
}

/* loading */
.loading {
  display: flex;
  justify-content: center;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
