@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: white;
}

p {
  color: rgb(194, 193, 193);
}

.lable {
  background-color:  #363636;
  padding: 4px;
  border-radius: 3px;
  font-size: 0.7rem;
}

